.background{
    background: linear-gradient(117.32deg, rgba(255, 222, 218, 0.99) 35%, #0094FF 94.35%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.login-form {
    width: 500px;
    height: 450px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.login-title {
    font-family: 'Rubik';
    font-size: 40px;
    color: black
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.login-form{
    width: 500px;
    height: 450px;
    background-color: white;
    border-radius: 30px;
}

.login-title {
    font-family: 'Rubik';
    font-size: 45px;
    color: black
}

.login-form input {
    width: 350px;
}
.login-form {
    font-family: 'Rubik';
}

.login-form label { 
    font-size: 18px
}