.user-video {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    background-color: black;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    object-fit: "cover"
}

.container-0 {
    position: absolute;
    left: 100px;
    bottom: 100px;
}


.container-1 {
    position: absolute;
    top: 30px;
    left: 400px
}

.container-2 {
    position: absolute;
    top: 30px;
    right: 400px

}

.container-3 {
    position: absolute;
    right: 100px;
    bottom: 100px;

}


.bottom-features{
    background-color: black;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bonfire {
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 150px;
}

h1{
    position: absolute;
}

.send-email-input{
    margin-right: 10px;
    width: 300px;
}